<h2 class="govuk-heading-l">How to meet this standard</h2>

<p>Guidance for how to meet this standard.</p>

{% markdown %}
{{ standard.fields.guidance  | safe}}
{% endmarkdown %}


<h2 class="govuk-heading-l">Review your compliance with this standard</h2>

{% if standard.fields.validity === 'Indefinitely' %}

<p>Once you have declared compliance with this standard, you don't have to redeclare compliance in the future.</p>

{% else %}

<p>The service owner or service team will need to report compliance with this standard every {{standard.fields.validity | lower }}. This is done in the <a href="https://educationgovuk.sharepoint.com/sites/ServiceHealthCheckHub" class="govuk-link">Service Health Check App (opens DfE intranet)</a>.</p>

{% endif %}