<a href="/create/standard" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to standard</a>

<nav class="dfe-vertical-nav">

    <ul class="dfe-vertical-nav__section">

        <li class="dfe-vertical-nav__section-item {% if sidenav === 'overview' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/create/standard/preview">Overview</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'meet' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/create/standard/preview-meet">How to meet</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'products' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/create/standard/preview-products">Approved and tolerated products</a>
        </li>
    </ul>
</nav>