{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Add a tolerated product" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "products" %}
{% set sidenav = 'products' %}

{% block hero %}
    {% include 'create/standard/_head.html' %}
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">            <div class="govuk-grid-column-one-quarter">
            {% include 'create/standard/_sidenav.html' %}
        </div>
        <div class="govuk-grid-column-three-quarters">


            <h2 class="govuk-heading-l">Add a tolerated product or service</h2>

            <p>The tolerated and tolerated products that are associated with this standard.</p>

            <form action="/create/standard/add-tolerated-product" method="post">

                <div class="govuk-form-group">
                    <label class="govuk-label" for="tolerated-name">
    Tolerated product name
  </label>
                    <input class="govuk-input" id="tolerated-name" name="tolerated_name" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="tolerated-vendor">
    Vendor or supplier
  </label>
                    <input class="govuk-input" id="tolerated-vendor" name="tolerated_vendor" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="tolerated-version">
    Version
  </label>
                    <input class="govuk-input" id="tolerated-version" name="tolerated_version" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="tolerated-usecase">
    Use-case
  </label>
                    <input class="govuk-input" id="tolerated-usecase" name="tolerated_usecase" type="text">
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
Save and continue
  </button>
                    <a class="govuk-link" href="/create/standard/products">Cancel and return to products</a>
                </div>

            </form>

        </div>
    </div>

{% endblock %}