{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Categories that apply to standard" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "standard" %}
{% set sidenav = 'categories' %}

{% block hero %}
    {% include 'create/standard/_head.html' %}
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include 'create/standard/_sidenav.html' %}
        </div>
        <div class="govuk-grid-column-three-quarters">

            <form action="/create/standard/categories" method="post" >

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="categories-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading">
                                {{pageName}}
                            </h2>
                        </legend>
                        <div id="categories-hint" class="govuk-hint">
      These will be used to group standards together in the same job family. Select all that apply 
    </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                            {% for category in categories %}
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" 
               id="categories_{{ loop.index }}" 
               name="categories" 
               type="checkbox" 
               value="{{ category.value}}"        {% set isChecked = false %}
               {% if standard.fields.category %}
                   {% for selectedCategory in standard.fields.category %}
                       {% if selectedCategory.sys.id == category.value %}
                           {% set isChecked = true %}
                       {% endif %}
                   {% endfor %}
               {% endif %}

               {% if isChecked %}
               checked
               {% endif %}>
                                    <label class="govuk-label govuk-checkboxes__label" for="categories_{{ loop.index }}">
                                        {{ category.text }}
                                    </label>
                                </div>
                            {% endfor %}

                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>

                </div>
            </form>

        </div>
    </div>

{% endblock %}