{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Owners and contacts" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "contacts" %}
{% set sidenav = 'contacts' %}

{% block hero %}
    {% include 'create/standard/_head.html' %}
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include 'create/standard/_sidenav.html' %}
        </div>
        <div class="govuk-grid-column-three-quarters">

                {% if message %}

            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
  
    <p class="govuk-body">{{message}}</p>
  </div>
</div>

            {% endif %}

            <h2 class="govuk-heading-l">{{pageName}}</h2>

            <p>The people who own this standard and those who can be contacted about using it.</p>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
      Contacts
    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="/create/standard/add-contact">Add <span class="govuk-visually-hidden"> contact</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    {% if standard.fields.owners | length or standard.fields.technicalContacts | length %}
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Contact</th>
                                    <th scope="col" class="govuk-table__header">Email address</th>
                                    <th scope="col" class="govuk-table__header">Type</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                {% for contact in standard.fields.owners %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <a href="/create/standard/manage-contact/{{contact.sys.id}}">{{ contact.fields.name }}</a>
                                        </td>   <td class="govuk-table__cell">{{contact.fields.emailAddress}}</td>
                                        <td class="govuk-table__cell">Owner</td>
                                    </tr>
                                {% endfor %}
                                {% for contact in standard.fields.technicalContacts %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <a href="/create/standard/manage-contact/{{contact.sys.id}}">{{ contact.fields.name }}</a>
                                        </td>
                                        </td>   <td class="govuk-table__cell">{{contact.fields.emailAddress}}</td>
                                        <td class="govuk-table__cell">Contact</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                      
                           <p class="govuk-!-margin-bottom-0">No contacts added.</p>
                       
                    {% endif %}
                </div>
            </div>
            

                    <form action="/create/standard" method="get">
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

                </div>

            </form>

        </div>
    </div>

{% endblock %}