{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Exceptions" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "exceptions" %}
{% set sidenav = 'exceptions' %}

{% block hero %}
    {% include 'create/standard/_head.html' %}
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">            <div class="govuk-grid-column-one-quarter">
            {% include 'create/standard/_sidenav.html' %}
        </div>
        <div class="govuk-grid-column-three-quarters">

            <h2 class="govuk-heading-l">Known exceptions</h2>

            <p>Known exceptions that apply to this standard.</p>

            <p>If there are no exceptions, you can skip this question.</p>

          
                 <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
      Known exceptions
    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="/create/standard/add-exception">Add <span class="govuk-visually-hidden"> exception</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    {% if standard.fields.exceptions | length %}

                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Summary</th>
                                    <th scope="col" class="govuk-table__header">Details</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                {% for exception in standard.fields.exceptions %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell"><a href="/create/standard/manage-exception/{{exception.sys.id}}">{{ exception.fields.title }}</a></td>
                                        <td class="govuk-table__cell">{{ exception.fields.details | truncate(50) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    {% else %}

                        <p class="govuk-!-margin-bottom-0">No exceptions added.</p>

                    {% endif %}
                </div>
            </div>

                    <form action="/create/standard/contacts" method="get">
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

                </div>

            </form>

        </div>
    </div>

{% endblock %}