{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "What sub-categories apply to this standard?" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "standard" %}
{% set mainClasses = "govuk-!-padding-top-1" %}

{% block hero %}
    {% include 'create/standard/_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <a href="/create/standard/categories" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

            <form action="/create/standard/sub-categories" method="post">

                {% for category in categories %}
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                {{ category.title }} (Category {{ category.number }})
                            </legend>

                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                {% for subcategory in category.subcategories %}
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="subcategories_{{ loop.index }}" name="subcategories" type="checkbox" value="{{ subcategory.value }}" >
                                        <label class="govuk-label govuk-checkboxes__label" for="subcategories_{{ loop.index }}">
                                            {{ subcategory.text }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                {% endfor %}

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                    <a class="govuk-link" href="/create/standard">Return to tasks</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}