{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Success" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "standard" %}
{% set mainClasses = "govuk-!-padding-top-9" %}

{% block head %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
    Draft standard created
  </h1>

            </div>

            <h2 class="govuk-heading-l">What happens next</h2>

            <p>You can continue to add more information to the <a href="/manage/draft">draft standard</a>, before you submit it to the standards board.</p>



        </div>
    </div>

{% endblock %}