{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Success" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "standard" %}
{% set mainClasses = "govuk-!-padding-top-9" %}



{% block head %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
    Standard created
  </h1>


            </div>

              <p><a href="/manage/standard/{{standardID}}">View in manage</a>.</p>


        </div>
    </div>

{% endblock %}