{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Summary of standard" %}
{% set seoPageName = "" %}
{% set pageDescription = "" %}
{% set view = "standard" %}
{% set sidenav = 'summary' %}

{% block hero %}
  {% include 'create/standard/_head.html' %}
{% endblock %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include 'create/standard/_sidenav.html' %}
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% include 'partials/errorSummary.html' %}

      <form action="/create/standard/summary" method="post">
        <div class="govuk-form-group govuk-character-count {% if errors %} govuk-form-group--error{% endif %}" data-module="govuk-character-count" data-maxlength="1000">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="summary-hint">
              {{ pageName }}
            </label>
          </h2>
          <div id="summary-hint-hint" class="govuk-hint">
            Add a short description to provide an overview of the standard
          </div>
          {% if errors %}
            <p id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
                {% for err in errors %}
                                        {{ err.msg }}
                                    {% endfor %}
            </p>
          {% endif %}
          <textarea class="govuk-textarea govuk-js-character-count {% if errors %} govuk-input--error{% endif %}" id="summary" name="summary" rows="10" aria-describedby="summary-hint-info summary-hint-hint">{{ standard.fields.summary }}</textarea>
          <div id="summary-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1,000 characters
          </div>
        </div>
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}