{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "What is the title of the standard?" %}
{% set seoPageName = "" %}
{% set pageDescription = "" %}
{% set view = "standard" %}
{% set sidenav = 'title' %}

{% block hero %}
    {% include 'create/standard/_head.html' %}
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {% include 'create/standard/_sidenav.html' %}
        </div>
        <div class="govuk-grid-column-three-quarters">
            {% include 'partials/errorSummary.html' %}

            <form action="/create/standard/title" method="post">
                <div class="govuk-form-group {% if errors %} govuk-form-group--error{% endif %}">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="title">
                            {{ pageName }}
                        </label>
                    </h2>
                    <div id="title-hint" class="govuk-hint">
                        This should help people understand what the standard is for.
                    </div>
                    {% if errors %}
                        <p id="event-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{ error }}
                        </p>
                    {% endif %}
                    <input class="govuk-input {% if errors %} govuk-input--error{% endif %}" id="title" name="title" type="text" aria-describedby="title-hint" value="{{ standard.fields.title }}">
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}