{% extends "layouts/full.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Draft a standard" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}


{% block content %}

<h1 class="govuk-heading-xl">{{pageName}}</h1> 

<p>Use this service to draft a new standard. You can save your draft and return to it later.</p>

<p><a href="/create/standard" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a></p>
 


<h2 class="govuk-heading-l">Drafts in progress</h2>

<p>There are [tk] drafts in progress. (with table if any)</p>

{% endblock %}