{% extends "layouts/full.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = "Add an exception" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "exceptions" %}
{% set mainClasses = "govuk-!-padding-top-1" %}

{% block hero %}
    {% include 'manage/standard/_head.html' %}
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <a href="/manage/standard/exceptions/{{standard.sys.id}}" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

            <h2 class="govuk-heading-l">Add an exception</h2>

            <p>Exceptions that apply to this standard.</p>

            <form action="/manage/standard/add-exception" method="post">
 <input type="hidden" name="standard_id" value="{{standard.sys.id}}">    

                <div class="govuk-form-group">
                    <label class="govuk-label" for="exception">
    Exception summary
  </label>
                    <input class="govuk-input" id="exception" name="exception" type="text">
                </div>

                <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
                    <label class="govuk-label" for="exceptiondetail">
   Details of the exception
  </label>
                    <textarea class="govuk-textarea govuk-js-character-count" id="exceptiondetail" name="exceptiondetail" rows="15" aria-describedby="exceptiondetail-info"></textarea>
                    <div id="exceptiondetail-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 1,000 characters
  </div>
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
Save
  </button>
                    <a class="govuk-link" href="/manage/standard/exceptions/{{standard.sys.id}}">Return to exceptions</a>
                </div>

            </form>

        </div>
    </div>

{% endblock %}