{% extends "layouts/full.html" %}

{% set selectedNav = "Manage" %}
{% set pageName = "Contacts" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "contacts" %}

{% block hero %}
    {% include 'manage/standard/_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <h2 class="govuk-heading-l">Contacts</h2>

            <p>Contacts for this standard.</p>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
      Contact
    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="/manage/standard/add-contact/{{standard.sys.id}}">Add <span class="govuk-visually-hidden"> contact</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    {% if standard.fields.owners | length or standard.fields.technicalContacts | length %}

                        <dl class="govuk-summary-list">

                            {% for person in standard.fields.owners %}

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                            Owner
                        </dt>
                                    <dd class="govuk-summary-list__value">{{person.fields.name}}
                                        <br>
                                        <span class="govuk-body govuk-body-s lighter-text">
                                            <a href="mailto:{{person.fields.emailAddress}}" class="govuk-link govuk-link--no-visited-state">{{person.fields.name}}</a>
                                        </span>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">

                                        <a class="govuk-link" href="/manage/standard/remove-owner-contact/{{standard.sys.id}}/{{person.sys.id}}">Remove<span class="govuk-visually-hidden">
                                                {{person.fields.name}}</span></a>
                                    </dd>
                                </div>

                            {% endfor %}

                            {% for person in standard.fields.technicalContacts %}

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                            Technical contact
                        </dt>
                                    <dd class="govuk-summary-list__value">{{person.fields.name}}
                                        <br>
                                        <span class="govuk-body govuk-body-s lighter-text">
                                            <a href="mailto:{{person.fields.emailAddress}}" class="govuk-link govuk-link--no-visited-state">{{person.fields.name}}</a>
                                        </span>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="/manage/standard/remove-technical-contact/{{standard.sys.id}}/{{person.sys.id}}">Remove<span class="govuk-visually-hidden">
                                                {{person.fields.name}}</span></a>
                                    </dd>
                                </div>

                            {% endfor %}

                        </dl>

                    {% else %}

                        <p class="govuk-!-margin-bottom-0">No contacts added.</p>

                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}