{% extends "layouts/full.html" %}
{% set selectedNav = "Manage" %}
{% set pageName = "Manage standards" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "standard" %}

{% block hero %}
       {% include 'partials/_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            {% if standard.fields.stage.fields.title === 'Approval' %}

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Awaiting approval
    </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
    This standard is with the standards forum to&nbsp;be&nbsp;reviewed.
    </p>

                        <form action="/manage/standard/publish" method="post">
                            <input type="hidden" name="standard_id" value="{{standard.sys.id}}">

                            <p>You will recieve an email when they have approved or rejected it.</p>

                            <p>If the standard is rejected, the forum will provide a reason. You can then make changes and resubmit or, delete the standard if you choose to not proceed.</p>


                        </div>
                    </div>

                {% endif %}

            {% if standard.fields.stage.fields.title === 'Approved' %}

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Standard approved
    </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
     You can now publish this standard.
    </p>

                        <form action="/manage/standard/publish" method="post">
                            <input type="hidden" name="standard_id" value="{{standard.sys.id}}">

                            <p>If you publish the standard it will become publicly visible in the Standard manual.</p>

                            <p>If you need to make changes to the standard before publishing, you will need to revert it to draft and resubmit it for approval.</p>

                            <div class="govuk-button-group">
                                <button type="submit" class="govuk-button" name="action" value="Publish" data-module="govuk-button">Approve</button>
                                <button type="submit" class="govuk-button govuk-button--secondary" name="action" value="Revert" data-module="govuk-button">Revert to draft</button>
                            </div>

                        </div>
                    </div>

                {% endif %}

                   {% if standard.fields.stage.fields.title === 'Rejected' %}

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Standard rejected
    </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
     The standard was rejected by the standards forum for the following reason:
    </p>

                        <form action="/manage/standard/publish" method="post">
                            <input type="hidden" name="standard_id" value="{{standard.sys.id}}">

                            <p>{{rejectionDetails.comments}}</p>

                            <p>You can make changes and resubmit by reverting the standard to draft stage.</p>

                              <p>You can delete the draft if you do not want to proceed with the standard.</p>

                            <div class="govuk-button-group">
                                <button type="submit" class="govuk-button" name="action" value="revert" data-module="govuk-button">Revert to draft</button>
                                    <button type="submit" class="govuk-button govuk-button--secondary" name="action" value="delete" data-module="govuk-button">Delete draft</button>
                            </div>

                        </div>
                    </div>

                {% endif %}

                


                <h2 class="govuk-heading-l">Tasks</h2>

                {% if standard.fields.stage.fields.title === 'Draft' %}

                <ul class="govuk-task-list">
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/title" aria-describedby="standard-details-1-status">
        Standard name
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-1-status">
                            {% if standard.fields.title %}
                        Complete
                        {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/summary" aria-describedby="standard-details-4-summary">
        Summary
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-4-summary">
                            {% if standard.fields.title %}
                                {% if standard.fields.summary %}
                                Complete
                            {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/categories" aria-describedby="standard-details-2-status">
        Categories
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-2-status">

                            {% if standard.fields.title %}
                                {% if standard.fields.category %}
                                Complete
                            {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                            {% endif %}

                        </div>

                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/sub-categories" aria-describedby="standard-details-3-hint standard-details-3-status">
        Sub-categories
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-3-status">
                            {% if standard.fields.title %}
                                {% if standard.fields.subCategory %}
                                Complete
                            {% else %}
                                    {% if standard.fields.category %}
                                        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                                    {% else %}
                                        <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/purpose" aria-describedby="standard-details-4-status">
        Purpose
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-4-status">
                            {% if standard.fields.title %}
                                {% if standard.fields.purpose %}
                                Complete
                            {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/guidance" aria-describedby="standard-details-4-status">
        How to meet the standard
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-4-status">
                            {% if standard.fields.title %}
                                {% if standard.fields.guidance %}
                                Complete
                            {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/products" aria-describedby="standard-details-5-status">
        Approved or tolerated products
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-5-status">
                            {% if standard.fields.title %}
                                {% if standard.fields.products %}
                                Complete
                            {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">Optional</strong>
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/exceptions" aria-describedby="standard-details-5-status">
        Exceptions
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-5-status">
                            {% if standard.fields.title %}
                                {% if standard.fields.exceptions %}
                                Complete
                            {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">Optional</strong>
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/manage/standard/contacts" aria-describedby="standard-details-5-status">
        Owner and contacts
      </a>
                        </div>
                        <div class="govuk-task-list__status" id="standard-details-5-status">
                            {% if standard.fields.title %}
                                {% if standard.fields.owners or standard.fields.technicalContacts %}
                                Complete
                            {% else %}
                                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                                {% endif %}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                            {% endif %}
                        </div>
                    </li>
                </ul>

                {% else %}

<p>You cannot make changes to the standard while the standard forum are reviewing it. You can <a href="/manage/standard/preview" class="govuk-link">preview&nbsp;the&nbsp;standard</a>.<p>

<ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Standard name
        </div>
        <div class="govuk-task-list__status" id="standard-details-1-status">
            {% if standard.fields.title %}
                Complete
            {% else %}
                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Summary
        </div>
        <div class="govuk-task-list__status" id="standard-details-4-summary">
            {% if standard.fields.title %}
                {% if standard.fields.summary %}
                    Complete
                {% else %}
                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                {% endif %}
            {% else %}
                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Categories
        </div>
        <div class="govuk-task-list__status" id="standard-details-2-status">
            {% if standard.fields.title %}
                {% if standard.fields.category %}
                    Complete
                {% else %}
                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                {% endif %}
            {% else %}
                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Sub-categories
        </div>
        <div class="govuk-task-list__status" id="standard-details-3-status">
            {% if standard.fields.title %}
                {% if standard.fields.subCategory %}
                    Complete
                {% else %}
                    {% if standard.fields.category %}
                        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                    {% endif %}
                {% endif %}
            {% else %}
                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Purpose
        </div>
        <div class="govuk-task-list__status" id="standard-details-4-status">
            {% if standard.fields.title %}
                {% if standard.fields.purpose %}
                    Complete
                {% else %}
                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                {% endif %}
            {% else %}
                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            How to meet the standard
        </div>
        <div class="govuk-task-list__status" id="standard-details-4-status">
            {% if standard.fields.title %}
                {% if standard.fields.guidance %}
                    Complete
                {% else %}
                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                {% endif %}
            {% else %}
                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Approved or tolerated products
        </div>
        <div class="govuk-task-list__status" id="standard-details-5-status">
            {% if standard.fields.title %}
                {% if standard.fields.products %}
                    Complete
                {% else %}
                    <strong class="govuk-tag govuk-tag--blue">Optional</strong>
                {% endif %}
            {% else %}
                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Exceptions
        </div>
        <div class="govuk-task-list__status" id="standard-details-5-status">
            {% if standard.fields.title %}
                {% if standard.fields.exceptions %}
                    Complete
                {% else %}
                    <strong class="govuk-tag govuk-tag--blue">Optional</strong>
                {% endif %}
            {% else %}
                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            Owner and contacts
        </div>
        <div class="govuk-task-list__status" id="standard-details-5-status">
            {% if standard.fields.title %}
                {% if standard.fields.owners or standard.fields.technicalContacts %}
                    Complete
                {% else %}
                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                {% endif %}
            {% else %}
                <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
        </div>
    </li>
</ul>

                {% endif %}

            </div>
            <div class="govuk-grid-column-one-quarter">
               
            </div>
        </div>
       

    {% endblock %}