{% extends "layouts/full.html" %}
{% set selectedNav = "Manage" %}
{% set pageName = "Manage standards" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "standard" %}

{% block hero %}
    {% include 'manage/standard/_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Tasks</h2>

              <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/title" aria-describedby="standard-details-1-status">
        Standard name
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-1-status">
                        {% if standard.fields.title %}
                        Complete
                        {% else %}
                            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/summary" aria-describedby="standard-details-4-summary">
        Summary
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-4-summary">
                        {% if standard.fields.title %}
                            {% if standard.fields.summary %}
                                Complete
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/categories" aria-describedby="standard-details-2-status">
        Categories
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-2-status">

                        {% if standard.fields.title %}
                            {% if standard.fields.category %}
                                Complete
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                        {% endif %}

                    </div>

                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/sub-categories" aria-describedby="standard-details-3-hint standard-details-3-status">
        Sub-categories
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-3-status">
                        {% if standard.fields.title %}
                            {% if standard.fields.subCategory %}
                                Complete
                            {% else %}
                                {% if standard.fields.category %}
                                    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/purpose" aria-describedby="standard-details-4-status">
        Purpose
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-4-status">
                        {% if standard.fields.title %}
                            {% if standard.fields.purpose %}
                                Complete
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/guidance" aria-describedby="standard-details-4-status">
        How to meet the standard
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-4-status">
                        {% if standard.fields.title %}
                            {% if standard.fields.guidance %}
                                Complete
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/products" aria-describedby="standard-details-5-status">
        Approved or tolerated products
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-5-status">
                        {% if standard.fields.title %}
                            {% if standard.fields.products %}
                                Complete
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Optional</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/exceptions" aria-describedby="standard-details-5-status">
        Exceptions
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-5-status">
                        {% if standard.fields.title %}
                            {% if standard.fields.exceptions %}
                                Complete
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Optional</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="/manage/standard/contacts" aria-describedby="standard-details-5-status">
        Owner and contacts
      </a>
                    </div>
                    <div class="govuk-task-list__status" id="standard-details-5-status">
                        {% if standard.fields.title %}
                            {% if standard.fields.owners or standard.fields.technicalContacts %}
                                Complete
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
                        {% endif %}
                    </div>
                </li>
            </ul>

        </div>
        <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-m">Stages</h2>
            <div class="dfe-timeline">
                <ol>
                    {# <li class="inactive">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2" id="proposal">Proposed</h3>
                         <p class="govuk-body-s">Created {{standard.sys.createdAt | date('DD MMMM YYYY')}} by {{standard.fields.creator}}</p>
                    </li> #}
                    <li class="active">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2" id="draft">Draft</h3>
                        <p class="govuk-body-s">Submitted {{standard.fields.draftCreatedAt | date('DD MMMM YYYY')}} by {{standard.fields.draftCreatedBy}}</p>
                    </li>
                    <li>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2" id="board">Approval</h3>
                        <p class="govuk-body-s">Not started</p>
                    </li>
                    <li>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2" id="outcome">Outcome</h3>
                        <p class="govuk-body-s">Not started</p>
                    </li>
                    <li>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2" id="published">Published</h3>
                        <p class="govuk-body-s">Not started</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <style>
        .dfe-timeline ol > li:before {
            top: 0;
        }
    </style>

{% endblock %}