{% extends "layouts/full.html" %}
{% set selectedNav = "Admin" %}
{% set pageName = "Standard forum decision" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "standard" %}

{% set mainClasses = "govuk-!-padding-top-1" %}

{% block hero %}
    {% include 'partials/_head.html' %}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <a href="/admin/standard/{{standard.sys.id}}" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

            <form action="/admin/standard/outcome" method="post">
                <input type="hidden" name="standard_id" value="{{standard.sys.id}}">

                <h1 class="govuk-heading-l">Standard forum decision</h1>

<p class="govuk-body">You can approve the standard if it can be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>assured</li>
  <li>applied retrospectively</li>
  <li>governed</li>
</ul>
<p>Otherwise reject the standard and provide a reason why.</p>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="outcome-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          
          <h2 class="govuk-fieldset__heading">
        Decision
      </h2>
  
                        </legend>
                        <div id="outcome-hint" class="govuk-hint">
      Select one option
    </div>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="outcome" name="outcome" type="radio" value="Approve">
                                <label class="govuk-label govuk-radios__label" for="outcome">
          Approve
        </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="outcome-2" name="outcome" type="radio" value="Reject" data-aria-controls="conditional-outcome-2">
                                <label class="govuk-label govuk-radios__label" for="outcome-2">
          Reject
        </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-outcome-2">
                                <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
                                    <label class="govuk-label" for="reason">
    Reason for rejection
  </label>
                                    <textarea class="govuk-textarea govuk-js-character-count" id="reason" name="reason" rows="5" aria-describedby="reason-info"></textarea>
                                    <div id="reason-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 1000 characters
  </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Confirm outcome</button>
                </button>
                <a class="govuk-link" href="/admin/standard/{{standard.sys.id}}">Cancel and return to standard</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}