{% extends "layouts/full.html" %}
{% set selectedNav = "Admin" %}
{% set pageName = "Administer standards" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set view = "standard" %}

{% block hero %}
    {% include 'partials/_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            {% if standard.fields.stage.fields.title === 'Approved' %}

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Standard approved
    </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
     The standard can be published
    </p>

                        <form action="/admin/standard/publish" method="post">
                            <input type="hidden" name="standard_id" value="{{standard.sys.id}}">

                            <p>The creator, owner, and named contacts have been notified of the outcome.</p>

                            <p>They can publish the standard when ready.</p>

                               <p>As you are an administrator, you can also publish the standard.</p>

                            <div class="govuk-button-group govuk-!-margin-bottom-0">
                                <button type="submit" class="govuk-button" name="action" value="Publish" data-module="govuk-button">Publish standard</button>
                            </div>

                        </div>
                    </div>

                {% endif %}

                {% if standard.fields.stage.fields.title === 'Rejected' %}

                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Standard rejected
    </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <p class="govuk-notification-banner__heading">
     This standard has been rejected by the standards forum.
    </p>

                            <p>The creator, owner, and named contacts, have been notified of the outcome.</p>

                        </div>
                    </div>

                {% endif %}

                <h2 class="govuk-heading-l">Tasks</h2>

                <ul class="govuk-task-list">

                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            {% if standard.fields.stage.fields.title === 'Approval' %}
                                <a class="govuk-link govuk-task-list__link" href="/admin/standard/task/outcome/{{standard.sys.id}}" aria-describedby="task-4">Confirm outcome</a>
                            {% else %}
  Confirm outcome
    {% endif %}
                        </div>
                        <div class="govuk-task-list__status" id="task-4">
                            {% if standard.fields.stage.fields.title === 'Approved' or standard.fields.stage.fields.title === 'Published' %}
                                <strong class="govuk-tag govuk-tag--green">Approved</strong>
                            {% elseif standard.fields.stage.fields.title === 'Rejected' %}
                                <strong class="govuk-tag govuk-tag--red">Rejected</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                            {% endif %}

                        </div>
                    </li>

                    {% if standard.fields.stage.fields.title === 'Approved' %}

                        <li class="govuk-task-list__item govuk-task-list__item--with-link">
                            <div class="govuk-task-list__name-and-hint">
                               Publish standard
                            </div>
                            <div class="govuk-task-list__status" id="task-2">
                                <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
                            </div>
                        </li>
                    {% endif %}

                     {% if standard.fields.stage.fields.title === 'Published' %}

                        <li class="govuk-task-list__item govuk-task-list__item--with-link">
                            <div class="govuk-task-list__name-and-hint">
                               Publish standard
                            </div>
                            <div class="govuk-task-list__status" id="task-2">
                                Complete
                            </div>
                        </li>
                    {% endif %}
                </ul>

            </div>
            <div class="govuk-grid-column-one-quarter"></div>
        </div>

    {% endblock %}