{{ header({
"showNav": "true",
"showSearch": "false",
"showHeaderActionLinks": "true",
"showUserName": "false",
"userName": "",
"userNameURL": "",
"selectedNav": selectedNav,
"logoPath": "assets/images",
"searchInputName": "searchterm",
"logoAltText": "Department for Education manage standards",
"homeHref":"/",
"service": {
"name": serviceName,
"serviceUrl": "/"
},
"headerActionLinks": [
{ "url": "/profile", "label": "Profile" },
{ "url": "/auth/sign-out", "label": "Sign out" }
],
"primaryLinks": [
{
"url" : "/manage",
"label" : "Manage"
}, {
"url" : "/create",
"label" : "Create"
}, {
"url" : "/admin",
"label" : "Admin"
}
]
})
}}